[Unit]
Description=Firebird Database Server ( Classic )
After=local-fs.target

[Service]
User=firebird
Group=firebird
ExecStart=/usr/lib/interbase/bin/firebird -el /var/lib/firebird
StandardInput=socket

[Install]
Also=firebird-classic.socket
